/*GLOBAL*/

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

#channel-area {
    width: 399px;
    height: 100vh;
    border-right: 1px solid #dddddd;
}

#message-area {
    left: 400px;
    width: calc(100% - 400px);
}

button {
    background-color: #00838f;
    color: white;
    text-transform: uppercase;
    font-size: large;
    padding: 0 0.3em 0 0.3em;
}

section {
    position: fixed;
    vertical-align: top;
    height: 100vh;
}



/*APP BAR*/

.headbar {
    height: calc(56px + 1em);
    color: #00838f;
    background-color: #eeeeee;
    display: flex;
}

#logo {
    background-color: #00838f;
    position: absolute;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
}

#title {
    padding-bottom: 0.3em;
    margin: auto;
    margin-left: calc(56px + 1em);
    font-size: 20px;
}

#fab {
    width: 44px;
    height: 44px;
    background-color: #00838f;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 #aaaaaa;

    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 44px;

    position: absolute;
    top: 49px;
    right: 22px;

    cursor: pointer;
}



/*CHANNELS LIST*/

.channel-list {
    background-color: white;
    list-style-type: none;
}

.channel-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.channel-name {
    font-size: 16px;
    margin: 0px 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 auto;
}

li {
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
}

.selected {
    background-color: #eeeeee;
    border-right: 3px solid #00838f;
}

.list-title {
    margin: 2em 0 1em 0.8em;
    color: #00838f;
    text-transform: uppercase;
    font-weight: 1000;
}

.list-item-time {
    font-size: smaller;
}



/*MESSAGES*/

#chat-area {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100vh - 2 * 66px);
}

.message {
    max-width: 70%;
}

.message-wrapper {
    display: flex;
    align-items: flex-end;
}

.incoming {
    align-self: flex-start;
}

.outgoing {
    align-self: flex-end;
    text-align: right;
    /*position: relative;*/
}

.incoming .message-username {
    color: #00838f;
    font-weight: 1000;
    margin-bottom: 0.3em;
}

.outgoing .message-username {
    display: none;
}

.message-content {
    margin: 1em;
    margin-bottom: 0;
    padding: 0.5em;
    text-align: left;
}

.incoming .message-content {
    background-color: #eeeeee;
    color: initial;
    border-radius: 10px;
    border-bottom-left-radius: 3px;
}

.outgoing .message-content {
    background-color: #00838f;
    color: white;
    border-radius: 10px;
    border-bottom-right-radius: 3px;
}

.message-timestamp {
    font-size: smaller;
    margin-top: 0.2em;
}

.incoming .message-timestamp {
    margin-left: 3em;
}

.outgoing .message-timestamp {
    margin-right: 3em;
    /*position:absolute;
    margin-left: calc(70% + 3.8em);*/
}



/*CHAT INPUT*/

#input-area {
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

#emoticon-button {
    padding: 10px;
    margin: 0.3em;
    margin-left: 0.5em;
    background-color: #00838f;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

#send-button {
    color: #00838f;
    margin: auto;
    margin-left: 0;
    margin-right: 0.5em;
    cursor: pointer;
}

#message-input {
    height: auto;
    width: 100%;
    margin: 10px 0.5em 10px 0.2em;
    border-style: none;
    border-radius: 10px;
    padding: 0 1em;
}